#login-form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  padding-bottom: 25px;
}

#login-form-modal > .floating-input {
  margin-bottom: 20px;
}

#lm-header {
  text-align: center;
  margin-bottom: 0px;
}

#logInRedirect {
  margin-left: 5px;
  border: none;
  background-color: white;
  color: #951019;
  font-size: 15px;
}

#logInRedirect:hover {
  text-decoration: underline;
}

.account-button {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #951019;
  color: white;
}

.account-button:hover {
  background-color: #620a10;
}
