#confirm-delete:hover {
  background-color: #620a10;
}

#delete-text {
  text-align: center;
}

#delete-modal {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

#confirm-delete {
  background-color: #951019;
  color: white;
}

#modal-content #cancel-delete:hover {
  background-color: rgb(152, 152, 152);
}

#modal-content .delete-form {
  width: 400px
}
