#skip-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding-bottom: 30px;
}

#ss-buttons {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

#do-skip {
  width: 75px;
  background-color: #951019;
  color: white;
  border-radius: 10px;
}

#no-skip {
  width: 75px;
  border-radius: 10px;
  background-color: white;
  color: #951019;
}

#no-skip:hover,
#do-skip:hover {
  color: white;
  background-color: #620a10;
}
