#pp-rcd-image {
  width: 20rem;
  height: auto;
}

.pp-item-form {
  width: 100%;
}

#pp-prod-item-card {
  display: flex;
}

#pp-item-image {
  width: 75px;
  height: 75px;
  margin-right: 10px;
}

#item-button-div {
  display: flex;
  flex-direction: column;
}

#preview-image{
  width: 20px;
}

.thumbnails-noname {
  width: 20px;
}

#reward-modal-form {
  display: flex;
  flex-direction: column;
}


#pp-rcd-item {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  border:black solid 1px;
  border-radius: 10px;
  align-content: center;
}

#reward-dnd-box {
width: 20px
}
