.profile-dropdown {
  position: absolute;
}

#no-user-menu {
  display: flex;
  height: 75px;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

#no-user-menu > button{
  width: 75px;
}

#hp-bottom,
#hp-bottom > * {
  width: fit-content;
}

#home-logo {
  width: 30px;
}

.user-btn {
  width: 120px;
  height: 25px;
  margin-bottom: 5px;
  background-color: #951019;
  color: white;
  border-radius: 10px;
}

.user-btn:hover {
  background-color: #620a10;
}

#p-menu.user-menu {
  height: fit-content;
}

nav {
  /* border-bottom: grey 1px solid; */
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px lightgray solid;
  padding-top: 0;
  height: 70px;
  z-index: 1000;
  margin-bottom: 0px;
}

.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#p-menu {
  height: 60px;
  right: 20px;
  justify-content: space-around;
  border: 1px solid darkgrey;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  padding: 10px 0px;
}

#p-menu>* {
  list-style: none;
  text-align: center;
}

.p-menu-form-btn {
  width: 100px;
  height: 25px;
  border-radius: 8px;
  background-color: #951019;
  color: white;
}

.p-menu-form-btn:hover {
  background-color: #620a10;
}

#profile-button {
  list-style: none;
}

.eh {
  text-decoration: none;
}

/* #home {
  display: flex;
  justify-content: end;
  width: 60%;
  max-width: 1025px;
  text-align: right;
} */

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 0px;
  margin-block-start: 0px;
}

#search-bar {
  width: fit-content;
}

#search-input {
  width: 25vw;
  height: 25px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid darkgrey;
  padding-left: 5px;
}

#search-input:focus {
  outline-color: #951019;
}

#search-button {
  padding: 0px 10px;
  height: 32px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#search-button:hover {
  background-color: #951019;
}

#home {
  height: fit-content;
  display: flex;
  align-content: center;
}

#home-logo-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  font-size: 40px;
}

.hidden {
  display: none;
}

#profile-pic {
  width: 20px;
  height: 30px;
}

#p-menu-button {
  border-radius: 30px;
}

#modal-content {
  display: flex;
}

@media screen and (max-width: 800px) {
  #home-logo-text {
    font-size: 25px;
  }

  #home-logo {
    width: 18px;
    height: 25px;
  }

  nav {
    height: 40px
  }
}
