#ppp-title {
  width: fit-content;
}

#user-profile-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-profile-container > p {
  text-align: center;
}
