#ppp-title {
  width: fit-content;
  text-align: center;
}

#ppp-div {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-profile-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-profile-container > p {
  text-align: center;
}

.profile-page-projects {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ppp-buttons {
  width: 65%;
  display: flex;
  justify-content: space-evenly;
}

#ppp-buttons > button {
  background-color: #951019;
  width: 90px;
  color: white;
  border-radius: 10px;
}

#ppp-buttons > button:hover {
  background-color: #620a10;
}
