.home-project-card {
  width: 375px;
  border: solid 1px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-project-card:hover {
  height: 105%;
  width: 105%;
  box-shadow: 0 0 20px #951019;
}

#hp-mid {
  display: flex;
  justify-content: space-between;
}

#hp-mid > * {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#root {
  height: fit-content;
}

#home-page {
  width: 90%;
  margin: auto;
  padding-top: 75px;
  height: 2100px;
}

#hp-bottom {
  margin-top: 20px;
  width:100%;
  display: flex;
  justify-content: space-evenly;
}

#hp-earned-upper,
#hp-percent-earned-upper,
#hp-days-left-upper {
  font-size: 20px;
}

#hp-card-details {
  width: 90%;
  margin: auto;
}

#hp-earned,
#hp-percent-earned,
#hp-days-left {
  margin-right: 10px;
  text-align: center;
}

.home-project-card > span {
  width: fit-content;
}

#hp-subtitle {
  max-width: 350px;
}

.link {
  cursor: pointer;
  color: #950101;
}

#home-page-title {
  /* margin-top: 75px; */
  text-align: center;
}

#hp-title {
  width: fit-content;
  text-align: center;
}

#hp-progress {
  width: 100%;
}
progress {
  appearance: none;
  height: 7px;
}
progress::-webkit-progress-bar {
  background-color: #a3a0a0;
}

progress::-webkit-progress-value {
  background-color: red;
}

#hp-card-img {
  border-bottom: 1px solid grey;
  border-radius: 10px;
}

#home-page-cards {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5%;
  padding-bottom: 20px;
}

@media screen and (max-width: 900px) {
  #home-page-cards {
    grid-template-columns: 100%;
    gap: 1%;
  }
}

@media screen and (min-width: 1350px) {
  #home-page-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  #home-page {
    width: 95%;
    height: 1500px;
  }
}
