.home-project-card {
  width: 375px;
  border: solid 1px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-project-card:hover {
  height: 100%;
  width: 100%;
  max-height: 605.6px;
  max-width: 390px;
  box-shadow: 0 0 20px #951019;
  transition: all .5s ease;
}


#location-form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hp-mid {
  display: flex;
  justify-content: space-between;
}

#hp-mid>* {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#root {
  height: fit-content;
}

#footer-div {
  height: fit-content;
}

#home-page {
  width: 90%;
  margin: auto;
  padding-top: 75px;
  height: 2700px;
}

#hp-like-heart {
  display: none;
}

#hp-like-heart:hover {
  cursor: pointer;
  color: #951019;
  text-shadow: #951019 0px 0px 10px;
}

.home-project-card:hover>*>*>#hp-like-heart {
  display: block;
}

#hp-bottom {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#hp-earned-upper,
#hp-percent-earned-upper,
#hp-days-left-upper {
  font-size: 20px;
}

#title-and-heart {
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
}

#hp-card-details {
  width: 90%;
  margin: auto;
}

#hp-earned,
#hp-percent-earned,
#hp-days-left {
  margin-right: 10px;
  text-align: center;
}

.home-project-card>span {
  width: fit-content;
}

#hp-subtitle {
  max-width: 350px;
}

.link {
  cursor: pointer;
  color: #950101;
  text-decoration: none;
}

#home-page-title {
  /* margin-top: 75px; */
  text-align: center;
}

#hp-title {
  width: fit-content;
  text-align: center;
}

#hp-progress {
  width: 100%;
}

progress {
  appearance: none;
  height: 7px;
}

progress::-webkit-progress-bar {
  background-color: #a3a0a0;
}

progress::-webkit-progress-value {
  background-color: red;
}

#hp-card-img {
  border-bottom: 1px solid grey;
  border-radius: 10px;
  width: auto;
  height: 284px;
}

#home-page-cards {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  /* gap: 5%; */
  row-gap: 40px;
  column-gap: 1%;
  padding-bottom: 20px;
  justify-items: center;
  align-items: center;
}


@media screen and (max-width: 1000px) {
  #home-page-cards {
    grid-template-columns: 100%;
    /* gap: 1%; */
    text-align: center;
    justify-items: center;
    align-items: center;
  }

  #home-page-cards>*:nth-child(n+4) {
    display: none;
  }

  #home-page {
    width: 95%;
    height: fit-content;
    display: flex;
    margin: auto;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
  }

  .home-project-card:hover {
    height: 614px;
    width: 402px;
    box-shadow: 0 0 20px #951019;
    transition: all .5s ease;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1350px) {
  #home-page-cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    max-width: 848px;
  }

  #home-page {
    width: 95%;
    height: 3800px;
  }
}

@media screen and (min-width: 1350px) and (max-width: 1700px) {
  #home-page-cards {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1%;
  }

  #home-page {
    width: 95%;
    height: 2600px;
  }
}

@media screen and (min-width: 1700px) {
  #home-page-cards {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
  }

  #home-page {
    width: 95%;
    height: fit-content;
  }
}
