#pp-video {
  width: 100%;
  max-width: 850px;
  height: auto;
}

#pp-add-story-btn,
#add-reward-button {
  width: 150px;
  height: 30px;
}

#pp-item-form {
  width: 25%;
  height: 20px;
}

#pp-reward-card {
  margin-bottom: 15px;
  border-bottom: 1px grey solid;
  padding-bottom: 15px;
}

#reward-modal-form {
  width: 80%;
  margin: auto;
}

#project-page-container {
  width: 85%;
  margin: auto;
  margin-top: 75px;
}

#pp-header {
  text-align: center;
}

#pp-image-container {
  text-align: center;
}

#pp-add-story {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pp-story-tab>h2,
#pp-rewards-tab>h2
 {
  width: fit-content;
  margin: auto;
}

#pp-story-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
}

#story-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  padding-bottom: 30px;
}

#pp-tabs {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

#pp-pledge-button {
  height: 40px;
  width: 80%;
  margin: auto;
  margin-top: 5px;
  background-color: #951019;
  color: white;
  border-radius: 10px;
}

#pp-pledge-button:hover {
  background-color: #620a10;
}

#pp-image {
  width: 100%;
  max-width: 850px;
  max-height: 400px;
  /* max-width: 100%; */
}

#pp-details-container {
  display: flex;
  flex-direction: column;
}

#user-project-buttons {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}

#user-project-buttons  > button{
  width: 50%;
  height: 40px;
}

#pp-details-main {
  width: 80%;
  margin: auto;
}

#pp-progress-bar {
  width: 80%;
  margin: auto;
}

#pp-details-main {
  display: flex;
  width: 80%;

}

#pp-earned {
  display: flex;
  flex-direction: column;
}

#pp-date {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#pp-date-upper,
#pp-earned-upper {
  font-size: 25px;
  color: #951019;
}
